
*{
    font-family: 'Red Hat Display';
    box-sizing: border-box;
}


.logo{
    display: block;
    margin: 80px auto;
    justify-content: center;
}

.top-banner-small-screen{
    display: none;
}
.hero-area-small-screen{
    display: none;

}

.top-banner-pc{
    display: flex;
}

.image{
    flex-shrink: 0;
}

.hero-area{
    padding: 0 50px;
    align-items: center;
}

.head{
    text-align: center;
    font-size: 64px;
    line-height: 64px;
}

.hero-paragraph{
    text-align: center;
}

button{
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 50px;
    border: 0px;
    color: #ffffff;
    height: 58px;

}

.header-buttons{
    text-align: center;
}

.hero-first-button{
    background-color:#4D96A9;
    width: 193px;
    margin-right: 10px;
    
}
.hero-first-button:hover{
    background-color: #71C0D4;
    cursor: pointer;
}
.hero-first-button-span{
    color: #8FE3F9;
}

.hero-second-button{
    background-color: #855FB1;
    width: 139px;
    padding: 0;

}
.hero-second-button:hover{
    background-color: #D9B8FF;
    cursor: pointer;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 100px;

}

.photos img{
    width: 20%;
    border-radius: 10px;
}

.below-photos-header{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;    
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #4D96A9;
}

.body h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    margin: 30px 500px;
}

.body-text{
    color: #87879D;
    text-align: center;
    margin: 0px 450px;
    line-height: 26px;
    padding: 0 30px;

}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0px 150px;
    height: 308px;
    background-image: url('/desktop/image-footer.jpg');   
    width: 100%;

    
 }

 /* .overlay{
    background-color: #4D96A9;
    opacity: 0.5;
    height: 100%;
    width: 100%;
 } */


 footer h2{
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
    padding: 0;
    margin: 0;
}

.footer-column-2{
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #FAFAFA;
    text-align: left;
    margin-left: 100px;
    margin-right: 150px;
}

.footer-button{
    background-color: #855FB1;
    width: 193px;
    padding: 0;
}

.footer-button:hover{
    background-color: #B18BDD;
    cursor: pointer;
}
.footer-button-text{
    color: #D9B8FF;
}




@media (max-width: 1024px) and (min-width: 768px){
    *{
        box-sizing: border-box;
    }

    .top-banner-pc{
        display: none;
    }

    .top-banner-small-screen{
        display: flex;
    }

    .hero-area-small-screen{
        display: block;
    }

    .header-buttons-small-screen{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }

    .head{
        text-align: center;
        font-size: 48px;
        line-height: 48px;
        margin: 20px 200px;
    }

    .hero-paragraph{
        text-align: center;
        margin: 30px 130px;

    }

    .body h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin: 0 100px;
    }

    .body-text{
            color: #87879D;
            text-align: center;
            margin: 0px 0px;
            line-height: 26px;
            padding: 0 0px;
        
        }

    .photos{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        gap: 11px;
        justify-content: center;
    
    }
    
    .photos img{
        width: 164px;
        height: 156px;
        border-radius: 10px;
    }

    .below-photos-header{
        text-align: center;
        font-weight: 900;
        font-size: 16px;
        text-transform: uppercase;
        color: #4D96A9;
        padding-top: 20px;
        padding-bottom: 0px;
    }

    .body h2 {
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        text-align: center;
        margin: 0px 200px;
        padding-bottom: 30px;
    }

    .body-text{
        color: #87879D;
        text-align: center;
        line-height: 26px;
        padding: 0 120px;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
        padding:50px 150px;
        height: 308px;
        background-image: url('/tablet/image-footer.jpg');
        background-size: cover;
    }

    .footer-column-1{
        text-align: center;
    }

    .footer-column-2{
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: #FAFAFA;
        text-align: center;
        margin: 0 auto;
    }

    .footer-column-3{
        margin: 0 auto;
    }


}


@media (max-width: 768px) {
    .head{
        font-size: 50px;
    }
}
    

/*
@media (max-width: 375px){

    .top-banner img{
        display: inline-block;
        width: 188px;
        margin: -1px;
        padding-bottom: 20px;
    }


    .hero-area{
        text-align: center;
    margin-top: 20px;
        margin-bottom: 100px;
    
    }

    .hero-paragraph{
        margin: 20px 20px;
        color: #87879D;
    }
    h1{
        font-size: 40px;
        line-height: 40px;
    }
    p{
        font-size: 16px;
        color: #FAFAFA;
    
    }

    .hero-area button{
        display: block;
        margin: 10px auto;
    }
    
    .photos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        margin-top: auto;
    /*    display: flex;
        margin: 100px 10%;
        gap: 25px;
  
    }

    .photos img{
        width: 90%;
        border-radius: 10px;
    }
    
    .body h2 {
        font-size: 30px;
        text-align: center;
        margin: 10px 50px;
        line-height: 30px;
    }
    .body-text{
        color: #87879D;
        text-align: center;
        margin: auto 50px;
        line-height: 26px;
    
    }

    .footer{
        display: block;
       align-content: center;
        
    }
    
    .footer-column-2{
        text-align: center;
    }

}

*/

