
*{
    font-family: 'Red Hat Display';
    box-sizing: border-box;
}


.logo{
    display: block;
    margin: 80px auto;
}

.top-banner-small-screen{
    display: none;
}
.hero-area-small-screen{
    display: none;

}

.image-hero-left{
    margin-left: -26px;
}

.image-hero-right{
    margin-right: -26px;
}

.top-banner-pc{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero-area{
    padding: 0 50px;
    align-items: center;
}

.head{
    color: #28283D;
    text-align: center;
    font-size: 64px;
    font-weight: 900;
    line-height: 64px;
}

.hero-paragraph{
    color: #87879D;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

button{
    font-weight: 900;
    font-size: 16px;
    line-height: 26px;
    padding: 15px 40px;
    border-radius: 50px;
    border: 0px;
    color: #ffffff;
    height: 58px;
}

.header-buttons{
    text-align: center;
}

.hero-first-button{
    background-color:#4D96A9;
    width: 193px;
    margin-right: 10px;
    
}
.hero-first-button:hover{
    background-color: #71C0D4;
    cursor: pointer;
}
.hero-first-button-span{
    color: #8FE3F9;
}

.hero-second-button{
    background-color: #855FB1;
    width: 139px;
    padding: 0;

}
.hero-second-button:hover{
    background-color: #D9B8FF;
    cursor: pointer;
}

.diagram{
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vertical_line{
    height: 84px;
    border: 1px solid #D8D8D8;
}

.circle_number{
    color: #87879D;
    font-weight: 900;
    font-size: 16px;
}

.circle{
    width: 56px;
    height: 56px;
    border: 2px solid #D8D8D8;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.photos{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    padding: 64px;
}

.photos img{
    width: 20%;
    border-radius: 10px;
}

.below-photos-header{
    text-align: center;
    color: #4D96A9;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;

}

.body h2 {
    padding: 0px 500px;
    color: #28283D;
    text-align: center;
    font-size: 40px;
    font-family: Red Hat Display;
    font-weight: 900;
    line-height: 44px;
}

.body-text{
    color: #87879D;
    text-align: center;
    font-size: 18px;
    margin: 0px 450px;
    /* padding: 0px 30px; */
    font-weight: 500;
    line-height: 26px;    
}

.diagram_2{
    margin-top: 110px;
    margin-bottom: -28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.circle_2{
    background-color: #FAFAFA;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 165px;
    height: 308px;
    width: 100%;
    background: hsla(192, 37%, 48%, 0.8);
    /* opacity: 0.9; */


 }

 .footer-overlay{
    background-image: url('/desktop/image-footer.jpg');
    background-size: cover;
    
 } 


 .footer-column-1{
    width: 330px;
 }

 footer h2{
    color: #FAFAFA;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
}

.footer-column-2{
    font-weight: 500;
    font-size: 18px;
    color: #FAFAFA;
    text-align: left;
    margin-right: 92px;
    margin-left: 125px;
    color: #FAFAFA;
    width: 350px; 
    line-height: 26px;
    
}



.footer-column-3{
    width: 193px;
}
.footer-button{
    background-color: #855FB1;
    width: 193px;
    padding: 0;
}

.footer-button:hover{
    background-color: #B18BDD;
    cursor: pointer;
}
.footer-button-text{
    color: #D9B8FF;
}




/* This CSS is responsible for the iPad and table screens */

@media (max-width: 1024px) and (min-width: 768px){
    *{
        box-sizing: border-box;
    }

    .top-banner-pc{
        display: none;
    }

    .image-hero-left{
        margin-left: 0px;
    }
    
    .image-hero-right{
        margin-right: -30px;
    }

    .top-banner-small-screen{
        display: flex;
    }

    .hero-area-small-screen{
        display: block;
    }

    .header-buttons-small-screen{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .head{
        color: #28283D;
        text-align: center;
        font-size: 48px;
        font-weight: 900;
        line-height: 48px;
        margin: 20px 200px;
    }

    .hero-paragraph{
        color: #87879D;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        margin: 30px 130px;


    }

    .body-text{
        font-weight: 500;
        font-size: 16px;
        color: #87879D;
        text-align: center;
        margin: 0px;
        line-height: 26px;
        padding: 0px;
        }

    .diagram{
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }

    .photos{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        gap: 11px;
        justify-content: center;
        margin-top: 64px;
    }
    
    .photos img{
        width: 164px;
        height: 156px;
        border-radius: 10px;
    }

    .below-photos-header{
        color: #4D96A9;
        font-size: 16px;
        font-weight: 900;
        line-height: 26px;
        letter-spacing: 4px;
        text-transform: uppercase;
        padding-top: 20px;
        /* padding-bottom: 0px; */
    }

    .body h2 {
        color: #28283D;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
        padding: 0px 190px;
    }

    .body-text{
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #87879D;
        text-align: center;
        line-height: 26px;
        padding: 0 120px;
    }

    .diagram_2{
        margin-top: 80px;
    
    }
    
    footer{
       display: flex;
       flex-direction: column;
       align-items: center;
       background-color: hsl(192, 37%, 48%, 0.8);
       height: 428px;
       padding-bottom: 0px;
    }

    .footer-overlay{
        background-image: url('/tablet/image-footer.jpg');
     } 

    .footer-column-1{
        width: 100%;
    }
    footer h2{
        color: #FAFAFA;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
    }


    .footer-column-2{
        color: #FAFAFA;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        width: 100%;
        margin-top: -32px;
    }

} 



/* This CSS is responsible for the mobile screens --- 767px*/
@media (max-width: 425px) {
    *{
        box-sizing: border-box;        
    }

    .top-banner-pc{
        display: none;
    }
    .logo{
        margin: 50px auto;
    }

    .image-hero-left{
        margin-left: 0px;
    }
    
    .image-hero-right{
        margin-right: 0px;
    }
    .top-banner-small-screen{
        display: flex;
        
    }

    .image{
        width: 50%;
    }

    .head{
        color: #28283D;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        line-height: 44px;
    }

    .hero-paragraph{
        color: #87879D;
        text-align: center;
        font-size: 16px;
        padding: 0 20px;
        font-weight: 500;
        line-height: 26px;
    }
    
    .header-buttons-small-screen{
        display: flex;
        gap: 16px;
        align-items: center;
        flex-direction: column;
    }

    .hero-area-small-screen{
        display: block;
    }

    .diagram{
        margin-top: 64px;
        margin-bottom: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        }

    .photos{
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        gap: 25px;
        justify-content: center;
    
    }

    .photos img{
        width: 151px;
        height: 143px;
        border-radius: 10px;
    }

    .body{
        margin: 64px 24px;
    }

    .below-photos-header{
        color: #4D96A9;
        font-size: 16px;
        font-weight: 900;
        line-height: 26px;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
    .body h2 {
        color: #28283D;
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        line-height: 36px;
        padding: 0px;
    } 

    .body-text{
        color: #87879D;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        padding: 0;
        margin:0;   
        }

    .diagram_2{
        margin-top: 64px;
        }

    footer{
        display: block;
        height: 428px;
        padding: 0px;
        background-color: hsl(192, 37%, 48%, 0.8);
        /* opacity: 0.9; */
        }

    .footer-overlay{
        height: 100%;
        width: 100%;
        background-image: url('/mobile/image-footer.jpg');
        background-size: cover;
        } 

    .footer-column-1{
        width: 100%;
         padding-top: 92px;
    }
    footer h2{
        color: #FAFAFA;
        text-align: center;
        font-size: 32px;
        font-weight: 900;
        line-height: 36px;
        padding: 0;
        margin: 0;
    }


     .footer-column-2{
 
        color: #FAFAFA;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin: 0;
        padding: 24px;
    }



    .footer-column-3{
        display: flex;
        justify-items: center;
        width: 100%;

    }

    .footer-button{
        margin: auto;
    }
}