

body{
   
    font-family: 'red hat display';
    max-width: 100%;
    width: 100%;
    min-width: 375px;
    /*width: max(100%, 100vw);*/

}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
}


.top-banner {
    text-align: center;
}

.top-banner img{
    display: inline-block;
}


.hero-area{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
    
}
.hero-paragraph{
    margin: 20px 400px;
    color: #87879D;
}


h1{
    font-size: 64px;
    line-height: 64px;
}

p{
    font-size: 18px;
    color: #FAFAFA;

}

.image-hero-left{
    float: left;
    margin-left: -30px;


}
.image-hero-right{
    float: right;
    margin-top: 50px;
    margin-right: -30px;


}
button{
    font-family: 'red hat display' sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 20px;
    border: 0px;
    color: #ffffff;

}

.hero-first-button{
    background-color:#4D96A9;
}
.hero-first-button:hover{
    background-color: #71C0D4;
}
.hero-first-button-span{
    color: #8FE3F9;
}

.hero-second-button{
    background-color: #855FB1;
}
.hero-second-button:hover{
    background-color: #D9B8FF;
}


.photos{
    display: flex;
    /* justify-content:center;*/
    margin: 100px 10%;
    gap: 25px;

}
.photos img{
    width: 25%;
    border-radius: 10px;
}

.below-photos-header{
    color: #4D96A9;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 800;
    text-align: center;
}

.body h2 {
    font-size: 40px;
    text-align: center;
    margin: 30px 500px;
    line-height: 44px;
}

.body-text{
    color: #87879D;
    text-align: center;
    margin: 0px 450px;
    line-height: 26px;

}

.footer-button{
    background-color: #855FB1;
}


footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color:#4D96A9;
    height: 308px;
    align-content: center;
    padding:50px 150px;

    
}

footer h2{
    font-size: 40px;
    line-height: 44px;
    color: #FAFAFA;
}

.footer-column-1{
    text-align: left;
    padding-right: 50px;
    
    
}
.footer-column-2{
    text-align: left;
}
.footer-column-3{
    text-align: center;
    float: right;
}

.footer-button:hover{
    background-color: #B18BDD;
}
.footer-button-text{
    color: #D9B8FF;
}


@media screen and (max-width: 700px) {

    
}

@media screen and (max-width: 300px) {

    
}

